

@layer components {
   

    .about-section {
        /* border: 1px solid black; */
        width: 80vw;
        height: 90vh;
        margin-inline: auto;
    }

    .gallery-frame {
        display: grid;
        /* height: 100%; */
        grid-template-columns: 0.45fr 0.45fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
        gap: 1.5rem;
    }

    .grid-frm {
        /* border: 1px solid black; */
        padding: 50px;
        border-radius: 8px;
    }

    .grid-icon-1 {
        /* background-color: red; */
        background: linear-gradient(0deg, rgba(111, 60, 0, 0.20) 0%, rgba(111, 60, 0, 0.20) 100%), url("assets/img1.png") center/cover no-repeat;
        grid-column: 1/3;
        grid-row: 1/4;
    }

    .grid-icon-4 {
        /* background-color: gray; */
        background: linear-gradient(0deg, rgba(111, 60, 0, 0.20) 0%, rgba(111, 60, 0, 0.20) 100%), url("assets/img4.jpeg") center/ cover no-repeat;
        grid-column: 3/4;
        grid-row: 1/5;
    }

    .grid-icon-2 {
        background: linear-gradient(0deg, rgba(111, 60, 0, 0.20) 0%, rgba(111, 60, 0, 0.20) 100%), url("assets/img2.jpeg") center/ cover no-repeat;

    }

    .grid-icon-3 {
        background: linear-gradient(0deg, rgba(111, 60, 0, 0.20) 0%, rgba(111, 60, 0, 0.20) 100%), url("assets/img3.png") center/ cover no-repeat;
    }

    .second-section {
        width: 80vw;
        margin: auto;
        height: 50vh;
    }

    .left-img {
        /* width: ; */
    }

    .story-section {
        margin: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .story-frame {
        /* gap: 6rem; */
        width: 90vw;
        margin: auto;
    }

    .storycard {
        align-items: center;
        text-align: center;
        background-color: #055D62;
        border-radius: 0.5rem;
        gap: 1.5rem;
        padding-block: 20px;
    }

    .story-caption {
        color: #ECE2CD;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 25vw;
        padding-inline: 10px;
    }

    .storyicon1 {
        width: 6.25rem;
        height: 6.25rem;
        background: url("assets/storyicon1.png") center/ cover no-repeat;
        border-radius: 8px;
    }

    .storyicon2 {
        width: 6.25rem;
        height: 6.25rem;
        background: url("assets/storyicon2.png") center/ cover no-repeat;
        border-radius: 8px;
    }

    .storyicon3 {
        width: 6.25rem;
        height: 6.25rem;
        background: url("assets/storyicon3.png") center/ cover no-repeat;
        border-radius: 8px;
    }

    .line {
        flex: 1;
        height: 2px;
        border-bottom: 5px dotted #055D62;
        /* margin: 0 10px; */
    }

    .subbody {
        color: #262626;
        font-size: 1.2rem;
        width: 75%;
        text-align: center;
        font-weight: 500;
    }

    .highlight {
        color: #AB2320;
        font-weight: 700;
    }

    .team-section{
        width: 90vw;
        margin: auto;
    }
    .team-subtitle {
        width: 75%;
        margin: auto;
        text-align: center;
        font-family: Roboto;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
    }
}